<!DOCTYPE html>
<html>
	<head>
		<title>Radar Chart</title>
		<script src="../static/js/Chart.min.js"></script>
		<link href="../static/css/chart.css" rel="stylesheet" type="text/css"/>
		<link href="../static/css/foundation.css" rel="stylesheet" type="text/css"/>
		<meta name = "viewport" content = "initial-scale = 1, user-scalable = no">
		<style>
			canvas{
			}
		</style>
	</head>
	<body>
		<h1>Our Readers Ratings:</h1>
{% block content %}

		<br></br>

				<p class="urlplaceholder"> 
					<a href="{{ url }}"> 
						Uber comes into Philly
					</a>
				</p>
			<div> 

			</div>

        

			<div class="chart" style="width:50%">
				<canvas id="canvas" height="450" width="450"></canvas>
			</div>
		

			<br></br>
			
			<br></br>

		<div class="small-12 columns">
		<p class="legend"><font color="green">Green = Like</font>, <font color="blue">Blue = Meh</font>, <font color="red">Red = Hated it!</font>. Cities Clockwise North to South.</p>
		</div> 

	<script>
	var radarChartData = {
		labels: {{ cities | safe}},
		datasets: [
			{
				label: "Like",
				fillColor: "rgba(2,500,2,0.2)",
				strokeColor: "rgba(2,500,2,1)",
				pointColor: "rgba(1,1000,20,1)",
				pointStrokeColor: "#fff",
				pointHighlightFill: "#fff",
				pointHighlightStroke: "rgba(0,4000,0,1)",
				data: {{ likes|safe }}
			},
			{
				label: "Hated it",
				fillColor: "rgba(300,0,0,0.2)",
				strokeColor: "rgba(300,187,205,1)",
				pointColor: "rgba(300,187,205,1)",
				pointStrokeColor: "#fff",
				pointHighlightFill: "#fff",
				pointHighlightStroke: "rgba(400,0,0,1)",
				data: {{ hatedit|safe }}
				
			},
			{
				label: "Meh",
				fillColor: "rgba(0,0,300,0.2)",
				strokeColor: "rgba(0,0,300,1)",
				pointColor: "rgba(0,0,300,1)",
				pointStrokeColor: "#fff",
				pointHighlightFill: "#fff",
				pointHighlightStroke: "rgba(0,0,300,1)",
				data: {{ meh|safe }}
			}
		]
	};

{% endblock %}

	window.onload = function(){
		window.myRadar = new Chart(document.getElementById("canvas").getContext("2d")).Radar(radarChartData, {
			responsive: true, pointLabelFontSize : 18, showScale: true, scaleFontFamily: "Arial", scaleFontSize: 10, scaleShowLabels: true, tooltipFontFamily: "Arial"
		});
	}
	
	   </script>
	   
		<div id="footer">
			Copyright © Datapunks Team
		</div>	

	   </body>
	   
</html>