h1 {
	text-align:center;
	background-color:#FF7F50;
}

.legend{
	text-align:center;
	font-style:oblique;
	font-size: 30px;

}

.urlplaceholder{
	text-align:center;
	font-style:oblique;
	font-size:40px;
}

p {
    font-family: "Times New Roman", Times, serif;
}

p.italic {
	font-style: italic;
	font-size: 30px;
}

.chart{
	width:800px;
    height:600px;
    text-align:center;
    background-color:White;
    padding:5px; 
    margin-left: auto;
    margin-right: auto;
}

#footer {
    background-color:#FF6600;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}